/* 
.form{
  margin-left:40%;
  padding-left: 40%;
text-decoration: none;
font-size: 15px;
color:black;
display: block;
height: 67%;
width: 50%;
float:right;
  margin-top: 0%;
margin-left: 5%;
background-color: #11111129;
overflow-x: hidden;
padding-top: 20px;


}
.chat_user .chatMsg{
  color: blue;
  position: relative;
  float: left;
  right: 50%;
  width: 100%;
}

.chat_self .chatMsg{
  color:brown;
  position: relative;
  left: 50%;
  /* float: right; */
/* }
.nav{
/* padding: 6px 8px 6px 16px; */
/* text-decoration: none;
font-size: 15px;
float: left;
display: block;
height: 70%;
width: 30%;


margin-top: 6%;

background-color: #11111129; */ */

/* padding-top: 20px; */
/* }
button {
  padding: 10px;
  position: relative;
  float: right;
  right: 0px;
  /* margin-left:40% ; */
/* }
.sendbtn{
  right: 50%;
}
.chat{ */

  /* padding-left : 40%;
  /* margin-left: 160px; /* Same as the width of the sidenav */
/* font-size: 28px; /* Increased text to enable scrolling */
/* padding: 0px 10px;

}

.textarea{
  /* padding-left: 40%; */
  /* margin: 70px;
  width: 30%;
  height: 10px;
  position: relative; */
   
      /* right: 0%; */
  /* left: 30%;
} */ 


/* textarea{
  margin-right:70px;
}
section{
  position: relative;
  float: left;
  width: 60%;
  height: auto;
  
}
.username{
  position: relative;
  float: left;
  left: -150px;
}

h5, h1 {
  text-align: center;
} */ 