aside
{
    height: 600px;
    width: 400px;
    border: 1px solid black;
    float: left;
    margin-top: -19px;
    background-image: linear-gradient(#89f7fe , #66a6ff);
}
section
{
    height: 600px;
    width: 912px;
    border: 1px solid black;
    float: left;
    margin-top: -600px;
    margin-left: 400px;
    background-image: linear-gradient(#fdfcfb , #e2d1c3);
}
#textarea
{
    margin-top: 520px;
}
#sendbtn
{
    
    height: 47px;
    width: 70px;
}