<body>

    <body class="background">


        <header class="header">

            <h1>CHAT APP</h1>
            <span class="user">
                <h5>Welcome <h2>{{currUserName}}</h2>
                </h5>
            </span>
            <button type="button" ng-click="logout()" style="float: center;" style="margin:400px" class="logbutton">Log
                Out</button>
        </header>

        <section>

            <nav>
                <div class="side">

                    <ul>
                        <p><b>
                                <h3>Contacts</h3>
                            </b></p>

                    </ul>
                    <div class="names">
                        <p ng-repeat="x in allUser" ng-click="person(x)" ng-show="currUserName!=x.firstname">
                            {{x.firstname}}</p>
                    </div>
            </nav>

            <article>
                <div class="back">
                    <div class="groupChat">
                        <p class="username"><b>{{receiverUserName}}</b> </p>
                    </div>
                    <section>
                        <form>
                            <div class="chatLogs" ng-repeat="chat in allUserArr  track by $index">

                                <div class="chat friend" ng-show="currUser != chatDatabase.senderId">

                                    <p class="chatMsg"> {{chat.message}}</p>
                                </div>
                                <div class="chat self" ng-show="currUser == chatDatabase.senderId">

                                    <p class="chatMsg"> {{chat.message}}</p>
                                </div>
                            </div>
                            <!------ Include the above in your HEAD tag ---------->
                            
                            
                            <html>
                            <head>
                            
                            
                            </head>
                            <body>
                            <div class="container">
                            <h3 class=" text-center">Messaging</h3>
                            <div class="messaging">
                                  <div class="inbox_msg">
                                    <div class="inbox_people">
                                      <div class="headind_srch">
                                        <div class="recent_heading">
                                          <h4>Recent</h4>
                                        </div>
                                        <div class="srch_bar">
                                          <div class="stylish-input-group">
                                            <input type="text" class="search-bar"  placeholder="Search" >
                                            <span class="input-group-addon">
                                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                            </span> </div>
                                        </div>
                                      </div>
                                    
                                        <div class="chat_list">
                                          <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                              <p>Test, which is a new approach to have all solutions 
                                                astrology under one roof.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="chat_list">
                                          <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                              <p>Test, which is a new approach to have all solutions 
                                                astrology under one roof.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="chat_list">
                                          <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                              <p>Test, which is a new approach to have all solutions 
                                                astrology under one roof.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="chat_list">
                                          <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                              <p>Test, which is a new approach to have all solutions 
                                                astrology under one roof.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="chat_list">
                                          <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                              <p>Test, which is a new approach to have all solutions 
                                                astrology under one roof.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="chat_list">
                                          <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                              <p>Test, which is a new approach to have all solutions 
                                                astrology under one roof.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="mesgs">
                                      <div class="msg_history">
                                        <div class="incoming_msg">
                                          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                          <div class="received_msg">
                                            <div class="received_withd_msg">
                                              <p>Test which is a new approach to have all
                                                solutions</p>
                                              <span class="time_date"> 11:01 AM    |    June 9</span></div>
                                          </div>
                                        </div>
                                        <div class="outgoing_msg">
                                          <div class="sent_msg">
                                            <p>Test which is a new approach to have all
                                              solutions</p>
                                            <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                                        </div>
                                        <div class="incoming_msg">
                                          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                          <div class="received_msg">
                                            <div class="received_withd_msg">
                                              <p>Test, which is a new approach to have</p>
                                              <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                                          </div>
                                        </div>
                                        <div class="outgoing_msg">
                                          <div class="sent_msg">
                                            <p>Apollo University, Delhi, India Test</p>
                                            <span class="time_date"> 11:01 AM    |    Today</span> </div>
                                        </div>
                                        <div class="incoming_msg">
                                          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                          <div class="received_msg">
                                            <div class="received_withd_msg">
                                              <p>We work directly with our designers and suppliers,
                                                and sell direct to you, which means quality, exclusive
                                                products, at a price anyone can afford.</p>
                                              <span class="time_date"> 11:01 AM    |    Today</span></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="type_msg">
                                        <div class="input_msg_write">
                                          <input type="text" class="write_msg" placeholder="Type a message" />
                                          <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  
                                  <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
                                  
                                </div></div>
                                </body>
                                </html>
                    </section>

                    <div>
                        <textarea ng-model="message" ng-keyup="$event.keyCode == 13 && sendmessage()" rows="1" cols="70"
                            class="text" placeholder="type here to send message"></textarea>
                        <button type="button" ng-click="sendmessage()" ; class="sendbtn">Send</button>
                    </div>
                    </form>
                </div>
            </article>

        </section>

    </body>
</body>