<div>



    <div class="body" style="margin-left:350px;">
        <br>
        <form>
            <h2>Login</h2>
            <input type="email" id="txtEmailID" ng-model="email" class="Input" placeholder="Email ID"><br><br>


            <input type="password" id="txtPassword" ng-model="password" class="Input" placeholder="Password"><br><br>

            <button ng-click="login()" id="btnSubmit" class="Button">Submit</button><br><br>

            <a ui-sref="forget">Forget Password?</a><br>
            <a ui-sref="register">Create new Account</a><br>


    </div>

</div>