<!DOCTYPE html>
<html ng-app="client">

<head>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


  <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

  <div ng-controller="controlRegister">
    <form novalidate>
      <title>Registeration</title>
      <br>
      <div class="register" style="margin-left:350px;">
        <div>
          <h2>Create your Account </h2>
        </div>
        <div>
          <form name="register" method="POST">

            <input type="text" id="txtfirstname" ng-model="firstName" class="Input" placeholder="First Name">
            <input type="text" id="txtfirstname" ng-model="firstName" class="Input" placeholder="Last Name"><br><br>


            <input type="email" id="txtemailId" ng-model="email" class="InputEmail" placeholder="Email ID"><br><br>


            <input type="password" id="txtpassword" ng-model="password" class="Input" placeholder="Password">

            <input type="password" id="txtpsword" ng-model="repassword" class="Input" placeholder="confirm"><br><br>
            <div>
              <button type="button" ng-click="register()" class="Button">Register</button>
              <span></span>
            </div>

        </div>

    </form>
    <p>
      <h3>Click here to Login</h3>
    </p>
    <a ui-sref="/login">Log In</a>

  </div>

</body>

</html>