

    <div ng-controller="controlReset">
        <title>Reset Password</title>
        <div class="resetPswd" style="margin-left:350px;">
            <form>

                <h2>Reset Password</h2>
                <!-- <label>New Password</label><br> -->
                <!-- <input type="newPassword" id="txtnewPswd" ng-model="Password" placeholder="New Password">
                <input type="newPassword" id="txtnewPswd" ng-model="Password" placeholder=" confirm Password"><br> -->

                <input type="password" id="txtpassword" ng-model="password" class="InputRset"
                    placeholder="New Password">

                <input type="password" id="txtpsword" ng-model="repassword" class="InputRset"
                    placeholder="confirm Password"><br>
                <SPAN STYLE="color: green; font-size: 10pt">Use 8 or more characters with a mix of letters, numbers &
                    symbols
                </SPAN>
                <button ng-click="reset()" class="Button">Reset</button>
                <span></span>
            </form>
        </div>

